
<footer class="footer">
    <div class="container">
        footer
    </div>
</footer>

<script src="/public/jquery.min.js"></script>
<script src="<%= assetFingerprint('/public/js/scripts.js') %>"></script>
</body>
</html>