<% include ./layout/header.ejs %>
<h1>
    <a href="create">Add</a>
</h1>
<br>
<ul>
    <% posts.forEach(function(post){ %>
        <li><%=`${post.title} : ${post.body} `%></li>
    <% }); %>
</ul>
<% include ./layout/footer.ejs %>