<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>index.ejs</title>
</head>
<body>
<h1>
    <a href="create">Add</a>
</h1>
<br>
<ul>
    <% posts.forEach(function(post){ %>
        <li><%=`${post.title} : ${post.body} `%></li>
    <% }); %>
</ul>
</body>
</html>